.body{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topnav{
float:center;
background-color: black;
padding: 9px 700px;
margin-top: -9px;
margin-left: -8px;
margin-right: -8px;

}



.logo{
 size: -10px;
 margin-left:-600px; 
 size: 10;
 background-size: contain;
 width: 150px;
 padding-top: -600px;
 padding-bottom:-800px;
 margin-top: -300px;

}


.container{
 display: inline-block;
 cursor: pointer;
}



.bar1, .bar2, .bar3{
 width:35px;
 height: 4px;
 background-color: white;
 margin: 6px 1080px ;
 transition: 0.4s;
 
}

.change .bar1{
 -webkit-transform: rotate(-90deg) translate(-9px 6px);
 transform: rotate(-45deg) translate(-9px 6px);
}

.change .bar2{
 opacity: 0px;
}

.change .bar3{
 -webkit-transform: rotate(45deg) translate(-8x -8px);
 transform: rotate(45deg) translate(-8px -8px);
}

.hero{
 height: max-content;
 margin-right: 100px; 
}

.herobg{
 background-size: contain;
 width:1910px;
 height: 1250px;
 margin-left:-10px; 
 margin-top: -10px;
 margin-right: 20px;
}

.ht1{
 position:relative;
 text-align: center;
 bottom:1100px;
 right: 500px;
 color:azure;
 font-size: 120px;
 
}

.ht2{
 position:relative;
 text-align: center;
 bottom:1190px;
 right: 500px;
 color:azure;
 font-size: 120px;

}

.ht3{
 position:relative;
 text-align: center;
 bottom:1280px;
 right: 500px;
 color:azure;
 font-size: 120px;
}

.pc1{
max-width: 200px;
margin:auto;
box-shadow: 0 4px 8px 0;

}



.coke{
width:250px;
position: relative;
bottom: 650px;
right:-280px;
border: 1.5px solid black;
border-radius:200px;


}

.fanta{
 width: 250px;
 position: relative;
 bottom: 650px;
 right: -580px;
 border: 1.5px solid black;
 border-radius: 200px;
}

.sprite{
 width: 250px;
 position: relative;
 bottom: 650px;
 right: -880px;
 border: 1.5px solid black;
 border-radius: 200px;

}

.navbutleft{
 background-color: rgb(218, 37, 37);
 border: none;
 margin: 4px 2px;
 display: inline-block;
 border-radius: 1000%;
 height: 55px;
 width:60px;
 position: relative;
 bottom: 760px;
 right:695px; 
 cursor: pointer;
 
}

.triangle-left{
 width:0;
 height:0;
 position: relative;
 left: 100px;
 bottom: 805px;
 border-top: 15px solid transparent;
 border-right: 15px solid white;
 border-bottom: 15px solid transparent;
 cursor: pointer;
}

.navbutright{
 background-color: rgb(218, 37, 37);
 border:none;
 margin: 4px 2px;
 display: inline-block;
 border-radius: 1000%;
 height:55px;
 width:60px;
 position:relative;
 bottom: 760px;
 left: 920px;
 cursor: pointer;
}

.triangle-right{
 width:0;
 height:0;
 position:relative;
 left:1790px;
 bottom: 835px;
 border-top:15px solid transparent;
 border-left: 15px solid white;
 border-bottom: 15px solid transparent;
 cursor:pointer;
 }

.ordernow{
 background-color: red;
 border:none;
 padding: 10px 10px;
 position: relative;
 bottom: 1210px;
 left: 855px;
 cursor: pointer;
 font-size: 30px;
 border-radius: 40px;
 text-align: center;
}

.ord{
 color: azure;
 
}

.factory{
 position: relative;
 right: 250px;
 bottom:250px ;
 background: contain;
 width: 1000px;

}

.factlogobg{
 position: relative;
 background: contain;
 background-color: black;
 width: 950px;
 height: 660px;
 left: 964px;
 bottom: 957px;
}

.factlogo{
 position:relative;
 width:500px;
 left: 215px;
 top: 75px;
}


.SustCop{
 position:relative;
 bottom:1500px;
 color: white;
 font-size: 60px;
 text-align: center;
}

.SustCop1{
 position: relative;
 bottom:1540px;
 color: white;
 font-size: 60px;
 text-align: center;
}

.SustCop2{
 position: relative;
 bottom:1580px;
 text-align: center;
 color: white;
 font-size: 60px;
}

.campaigns{
 background: contain;
 height: 1000px;
 width:1000px;
 color:black;
}

.empcard{
 position:relative;
 bottom:1150px;
 width: 700px;
 height:400px;
 left: 100px; 
 border-radius: 14px;
}

.custcard{
 position: relative;
 bottom: 1150px;
 left:400px;
 width: 600px;
 height: 400px;
 border-radius: 14px;
}

.