.body{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav{
float:center;
background-color: black;
padding: 9px 700px;
margin-top: -9px;
margin-left: -8px;
margin-right: -8px;

}




.container{
 display: inline-block;
 cursor: pointer;
}

.logo{
 size: -10px;
 margin-left:-600px; 
 size: 10;
 background-size: contain;
 width: 150px;
 padding-top: -600px;
 padding-bottom:-800px;
 margin-top: -300px;

}


.bar1, .bar2, .bar3{
 width:35px;
 height: 4px;
 background-color: white;
 margin: 6px 1080px ;
 transition: 0.2s;
 
}

.change .bar1{
 -webkit-transform: rotate(-45deg) translate(-9px 6px);
 transform: rotate(-45deg) translate(-9px 6px);
}

.change .bar2{
 opacity: 0px;
}

.change .bar3{
 -webkit-transform: rotate(45deg) translate(-8x -8px);
 transform: rotate(45deg) translate(-8px -8px);
}

.hero{
 height: max-content;
 margin-right: 100px; 

}

.herobg{
 background-size: contain;
 width:1910px;
 height: 1250px;
 margin-left:-10px; 
 margin-top: -10px;
 margin-right: 20px;
}

.ht1{
 position:relative;
 text-align: center;
 bottom:1100px;
 right: 500px;
 color:azure;
 font-size: 120px;
 
}

.ht2{
 position:relative;
 text-align: center;
 bottom:1190px;
 right: 500px;
 color:azure;
 font-size: 120px;

}

.ht3{
 position:relative;
 text-align: center;
 bottom:1280px;
 right: 500px;
 color:azure;
 font-size: 120px;
}

.pc1{
max-width: 200px;
margin:auto;
box-shadow: 0 4px 8px 0;

}



.coke{
width:250px;
position: relative;
bottom: 650px;
right:-280px;
border: 3px solid black;
border-radius:200px;


}

.fanta{
 width: 250px;
 position: relative;
 bottom: 650px;
 right: -580px;
 border: 3px solid black;
 border-radius: 200px;
}

.sprite{
 width: 250px;
 position: relative;
 bottom: 650px;
 right: -880px;
 border: 3px solid black;
 border-radius: 200px;

}